<!DOCTYPE html>
{% load static %}
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <title>Руководитель</title>
    <link rel="stylesheet" href="{% static 'css/stylesheet.css'%}" type="text/css">
    <style>
        .form-textinput {width:100%;}
        .form-textinput:invalid {width:100%; border: outset #ff0000b2; border-radius: 5px}
        .form-textinput:valid {width:100%; border: outset #5dfc4eb2; border-radius: 5px}
        .form-dateinput {border: outset #ff0000b2; border-radius: 5px}
        .form-readonly {width:100%; border: outset grey; border-radius: 5px}
        .alert{color:red}
        a:active,
        a:hover,
        a {
            text-decoration: none;
            color: black;
        }
        .blue-button {
            background: #1abff2;
            border: none;
            border-radius: 2px;
            padding: 10px 15px;
            color: white;
        }
    </style>
</head>
<body class="container custom">
    <div class="container" style="max-width:99%">
        <div class="px-3 py-3 pt-md-5 pb-md-4 mx-auto text-center">
            <h1 class="display-4" id="header">Реестр выявленных несоответствий № {{ form.project_dogovor.value }}-{{ form.num_reestr.value }} </h1>
        </div>
        <div class="py-5">
            <div class="row">
                <div class="col-12">
                    <form novalidate method="POST" id="boss2" onsubmit="return false;">
                        {% csrf_token %}
                        {% load verbose_names %}
                        <p>
                            {% get_verbose_field_name "customer" %}<br />
                            {{ form.customer }}
                        </p>
                        <p>
                            {% get_verbose_field_name "project_dogovor" %}<br />
                            {{ form.project_dogovor }}
                        </p>
                        <p>
                            {% get_verbose_field_name "project_date_contract" %}<br />
                            {{ form.project_date_contract }}
                        </p>
                        <p>
                            {% get_verbose_field_name "project_name" %}<br />
                            {{ form.project_name }}
                        </p>
                        <p>
                            {% get_verbose_field_name "gip" %}<br />
                            <input type="text" class="form-readonly" readonly="readonly" value="{{ gipcontext }}">
                        </p>
                        <p>
                            {% get_verbose_field_name "project_reviewer" %}<br />
                            {{ form.project_reviewer }}
                        </p>
                        <p>
                            {% get_verbose_field_name "out_mail_num" %}<br />
                            {{ form.out_mail_num }}
                        </p>
                        <p>
                            {% get_verbose_field_name "out_mail_date" %}<br />
                            {{ form.out_mail_date }}
                        </p>
                        <p>
                            {% get_verbose_field_name "in_mail_num" %}<br />
                            {{ form.in_mail_num }}
                        </p>
                        <p>
                            {% get_verbose_field_name "in_mail_date" %}<br />
                            {{ form.in_mail_date }}
                        </p>
                        <p>
                            {% get_verbose_field_name "num_reestr" %}<br />
                            {{ form.num_reestr }}
                        </p>
                        <p>
                            {% get_verbose_field_name "num_remark" %}<br />
                            {{ form.num_remark }}
                        </p>
                        <p>
                            {% get_verbose_field_name "remark_v" %}<br />
                            {{ form.remark_v }}
                        </p>
                        <p>
                            {% get_verbose_field_name "remark_name" %}<br />
                            {{ form.remark_name }}
                            {% if form.remark_name.errors %}
                                {% for error in form.remark_name.errors %}
                                    <li class="alert alert-danger"> {{error}} </li>
                                {% endfor %}
                            {% endif %}
                        </p>
                        <p>
                            {% get_verbose_field_name "rational" %}<br />
                            {{ form.rational }}
                            {% if form.rational.errors %}
                                {% for error in form.rational.errors %}
                                    <li class="alert alert-danger"> {{error}} </li>
                                {% endfor %}
                            {% endif %}
                        </p>
                        <p>
                            {% get_verbose_field_name "designation_name" %}<br />
                            {{ form.designation_name }}
                            {% if form.designation_name.errors %}
                                {% for error in form.designation_name.errors %}
                                    <li class="alert alert-danger"> {{error}} </li>
                                {% endfor %}
                            {% endif %}
                        </p>
                        <p>
                            {% get_verbose_field_name "section_name" %}<br />
                            {{ form.section_name }}
                            {% if form.section_name.errors %}
                                {% for error in form.section_name.errors %}
                                    <li class="alert alert-danger"> {{error}} </li>
                                {% endfor %}
                            {% endif %}
                        </p>
                        <p>
                            {% get_verbose_field_name "responsibleTrouble_name" %}<br />
                            <input type="text" class="form-readonly" readonly="readonly" value="{{ rescontext }}">
                        </p>
                        <p>
                            {% get_verbose_field_name "executor_fail_name" %}<br />
                            {{ form.executor_fail_name }}
                            {% if form.executor_fail_name.errors %}
                                {% for error in form.executor_fail_name.errors %}
                                    <li class="alert alert-danger"> {{error}} </li>
                                {% endfor %}
                            {% endif %}
                        </p>
                        <p>
                            {% get_verbose_field_name "executor_name" %}<br />
                            {{ form.executor_name }}
                            {% if form.executor_name.errors %}
                                {% for error in form.executor_name.errors %}
                                    <li class="alert alert-danger"> {{error}} </li>
                                {% endfor %}
                            {% endif %}
                        </p>
                        <p>
                            {% get_verbose_field_name "answer_date_plan" %}<br />
                            {{ form.answer_date_plan }}
                            {% if form.answer_date_plan.errors %}
                                {% for error in form.answer_date_plan.errors %}
                                    <li class="alert alert-danger"> {{error}} </li>
                                {% endfor %}
                            {% endif %}
                        </p>
                        <p>
                            {% get_verbose_field_name "answer_deadline_correct_plan" %}<br />
                            {{ form.answer_deadline_correct_plan }}
                            {% if form.answer_deadline_correct_plan.errors %}
                                {% for error in form.answer_deadline_correct_plan.errors %}
                                    <li class="alert alert-danger"> {{error}} </li>
                                {% endfor %}
                            {% endif %}
                        </p>
                        <p>
                            {% get_verbose_field_name "labor_costs_plan" %}<br />
                            {{ form.labor_costs_plan }}
                            {% if form.labor_costs_plan.errors %}
                                {% for error in form.labor_costs_plan.errors %}
                                    <li class="alert alert-danger"> {{error}} </li>
                                {% endfor %}
                            {% endif %}
                        </p>
                        <p>
                            {% get_verbose_field_name "comment" %}<br />
                            {{ form.comment }}
                            {% if form.comment.errors %}
                                {% for error in form.comment.errors %}
                                    <li class="alert alert-danger"> {{error}} </li>
                                {% endfor %}
                            {% endif %}
                        </p>
                        <p>
                            {% get_verbose_field_name "answer_remark" %}<br />
                            {{ form.answer_remark }}
                            {% if form.answer_remark.errors %}
                                {% for error in form.answer_remark.errors %}
                                    <li class="alert alert-danger"> {{error}} </li>
                                {% endfor %}
                            {% endif %}
                        </p>
                        <p>
                            {% get_verbose_field_name "total_importance" %}<br />
                            {{ form.total_importance }}
                            {% if form.total_importance.errors %}
                                {% for error in form.total_importance.errors %}
                                    <li class="alert alert-danger"> {{error}} </li>
                                {% endfor %}
                            {% endif %}
                        </p>
                        <p>
                            {% get_verbose_field_name "root_cause_list" %}<br />
                            <select id="causes" required="required" class="form-textinput">
                                <option value=""></option>
                                <optgroup label="1. Проектная документация">
                                    <optgroup label="- 1.1. Несоответствие оформления выпускаемой документации установленным
                                    нормам и правилам (ГОСТ, СПДС, ЕСКД, СТО и т.д.) и правилам офрмления, оговоренным и принятым с Заказчиком">
                                        <option value="1.1.1.">-- 1.1.1. Несоответствие оформления выпускаемой документации
                                        (направляемой Заказчику, в ГГЭ и др.) установленным нормам и правилам (ГОСТ, СПДС,
                                            ЕСКД, СТО и т.д.) по вине сотрудников ОКиВД</option>
                                        <option value="1.1.2.">-- 1.1.2. Несоответствие оформления выпускаемой документации
                                        установленным нормам и правилам (ГОСТ, СПДС, ЕСКД, СТО т.д.) по вине нормоконтролёров</option>
                                        <option value="1.1.3.">-- 1.1.3. Несоответствие оформления выпускаемой документации
                                        установленным нормам и правилам (ГОСТ, СПДС, ЕСКД, СТО т.д.) и правилам оформления,
                                         оговоренным и принятым с заказчиком по вине исполнителей</option>
                                    </optgroup>
                                    <option value="1.2.1.">- 1.2. Некорректное использование исполнителями нормативных
                                        документов (НД) или некорректная ссылка исполнителя на НД при подготовке документации
                                    </option>
                                    <optgroup label="- 1.3. Некорректное применение установленных требований со стороны
                                    Рецензента (Заказчика, ГГЭ и др.)">
                                        <option value="1.3.1.">-- 1.3.1. Некорректная ссылка на НД при подготовке замечания
                                            со стороны Рецензента (Заказчика, ГГЭ и др.)</option>
                                        <option value="1.3.2.">-- 1.3.2. Некорректная ссылка на невыполнение Исполнителем
                                            НД со стороны Рецензента (Заказчика, ГГЭ и др.), в случае "невнимательного
                                            (неполного) прочтения документации"</option>
                                    </optgroup>
                                </optgroup>
                                <optgroup label="2. Оборудование">
                                    <option value="2.1.1.">- 2.1. Использование при проведении инженерно-изыскательских,
                                        научно-исследовательских работ и подготовки проектной документации оборудования
                                        и программного обеспечения, несоответствующего требованиям ТЗ или состояние и
                                        характеристики которых не позволяют производить качественные исследования и выпуск
                                        проектной документации</option>
                                    <option value="2.2.1.">- 2.2. Неправомерное требование со стороны Рецензента (Заказчика,
                                        ГГЭ и др.) использовать программное обеспечение, приборы и сертифицированные
                                        лаборатории, не указанные в ТЗ</option>
                                </optgroup>
                                <optgroup label="3. Персонал">
                                    <optgroup label="- 3.1. Нарушение персоналом (исполнителями) требований Договора, ЗНП
                                    (ТЗ) или других НД (использование устаревших НД)">
                                        <option value="3.1.1.">-- 3.1.1. Не знание (не выполнение) требований Договора, ЗНП
                                        (ТЗ, протоколов, решений, писем) и других НД, использование устаревших НД</option>
                                        <option value="3.1.2.">-- 3.1.2. Не предоставление необходимых документов (разрешений,
                                        сертификатов, договоров, протоколов, отчётов, актов, аттестатов, картографии,
                                            справок, фото-видео материалов и др.)</option>
                                        <option value="3.1.3.">-- 3.1.3. Отсутствие необходимых расчётов (измерений,
                                            испытаний) или допущение ошибки при их выполнении (в случае их обязательного
                                            выполнения)</option>
                                        <option value="3.1.4.">-- 3.1.4. Технические ошибки из-за невнимательности</option>
                                        <option value="3.1.5.">-- 3.1.5. Исполнителем, допустившим несоответствие, является субподрядчик</option>
                                        <option value="3.1.6.">-- 3.1.6. Исполнитель, допустивший несоответствие, уволился из организации</option>
                                    </optgroup>
                                    <optgroup label="- 3.2. Недостаточное взаимодействие между подразделениями при проектировании,
                                    в части предоставления (получения) необходимых и достаточных исходных данных в
                                    установленный графиком срок">
                                        <option value="3.2.1.">-- 3.2.1. Нарушение сроков выдачи задания (исходных данных)
                                            смежным подразделениям (или получение от них)</option>
                                        <option value="3.2.2.">-- 3.2.2. Нарушение сроков выполнения работ исполнителями,
                                        влияющее на сроки работ смежных подразделений</option>
                                        <option value="3.2.3.">-- 3.2.3. Предоставление недостаточных (некорректных) исходных
                                            данных смежным подразделениям</option>
                                    </optgroup>
                                    <optgroup label="- 3.3. Недостаточное количество персонала (исполнителей) для выполнения работ">
                                        <option value="3.3.1.">-- 3.3.1. Нарушение сроков выдачи задания (исходных данных)
                                            смежным подразделениям (или получение от них) в следствии недостаточного
                                            количества исполнителей</option>
                                        <option value="3.3.2.">-- 3.3.2. Нарушение сроков выполнения работ исполнителями,
                                            влияющее на сроки работ смежных подразделений в следствии недостаточного
                                            количества исполнителей</option>
                                        <option value="3.3.3.">-- 3.3.3. Нарушение сроков выполнения работ исполнителями,
                                            влияющее на сроки выпуска проекта/документации в следствии недостаточного
                                            количества исполнителей</option>
                                    </optgroup>
                                </optgroup>
                                <optgroup label="4. Управление">
                                    <optgroup label="- 4.1. Недостаточный уровень планирования работ по проекту со стороны
                                    ГИП и руководителей подразделений, связанный с ошибками в планировании (в определении
                                    приоритетности выполнения работ по Проекту; в распределении ресурсов внутри подразделения по Проектам)">
                                        <option value="4.1.1.">-- 4.1.1. Нарушение сроков выпуска проектов, связанное с
                                            ошибками планирования ГИП или Руководителей подразедений</option>
                                        <option value="4.1.2.">-- 4.1.2. Нарушение сроков выпуска проектов, связанное с
                                            ошибками планирования ГИП или Руководителей подразедений (при изменении приоритетов
                                            в очерёдности проектирования со стороны Руководства Общества, Холдинга, Заказчика)</option>
                                    </optgroup>
                                    <optgroup label="- 4.2. Недостаточный уровень планирования выполнения договоров со стороны
                                     планово-производственного отдела (ППО), связанный с ошибками в планировании (в
                                     определении приоритетности выполнения Проектов; в распределении ресурсов производственного
                                     блока по Проектам">
                                        <option value="4.2.1.">-- 4.2.1. Нарушение сроков выпуска проектов, связанное с ошибками
                                         планирования Руководства производственного блока или ППО</option>
                                        <option value="4.2.2.">-- 4.2.2. Нарушение сроков выпуска проектов, связанное с ошибками
                                         планирования Руководства производственного блока или ППО (при изменении приоритетов
                                        в очерёдности проектирования со стороны Руководства Общества, Холдинга, Заказчика)</option>
                                    </optgroup>
                                    <option value="4.3.1.">- 4.3. Слабый контроль (проверка) выпускаемой документации на
                                        предмет её соответствия требованиям Договора, ЗПН (ТЗ) или других НД со стороны
                                        ГИП или руководителей подразделений</option>
                                    <option value="4.4.1.">- 4.4. Изменение Заказчиком ЗНП (ТЗ) в процессе выполнения работ
                                     (дополнительные требования Заказчика на различных стадиях проектирования)</option>
                                    <optgroup label="- 4.5. Несвоевременное предоставление (не предоставление) Заказчиком
                                    исходных данных (ИД), правоустанавливающих и учредительных документов (истечение их
                                    срока действия">
                                        <option value="4.5.1.">-- 4.5.1. Несвоевременное предоставление (не предоставление)
                                        Заказчиком ИД (предоставление некорректных ИД)</option>
                                        <option value="4.5.2.">-- 4.5.2. Непредставление правоустанавливающих документов со
                                        стороны Заказчика (истечение их срока действия) для ведения работ по договору</option>
                                    </optgroup>
                                    <option value="4.6.1.">- 4.6. Изменение сроков выпуска проектов, связанные с изменением
                                     приоиртетов Руководства холдинга (Заказчика) в очерёдности проектирования</option>
                                </optgroup>
                                <optgroup label="5. Методы/технология">
                                    <option value="5.1.1.">- 5.1. Неиспользование исполнителями при проведении работ по договору
                                     передовых современных технологий проектирования (3D-проектирования)</option>
                                    <optgroup label="- 5.2. Неиспользование исполнителями вспомогательных инструментов и
                                    программ для проверки актуальности НД">
                                        <option value="5.2.1.">-- 5.2.1. Неиспользование исполнителями вспомогательных инструментов и
                                    программ для проверки актуальности НД (в т.ч. информационно-справочной системы "Кодекс-Техэксперт")</option>
                                    </optgroup>
                                    <optgroup label="- 5.3. Нарушение методологии (процедур) нормоконтроля качества,
                                    установленных в организации">
                                        <option value="5.3.1.">-- 5.3.1. Формальное исполнение функций нормоконтроля со стороны
                                         Руководства производственного блока или ГИПов</option>
                                        <option value="5.3.2.">-- 5.3.2. Формальное исполнение функций нормоконтроля со стороны
                                         Руководителей подразделений или исполнителей</option>
                                    </optgroup>
                                </optgroup>
                                <option value="6.">6. Материал, сырьё, комплектующие</option>
                                <option value="7.">7. Окружающая среда</option>
                              </select>
                            {{ form.root_cause_list }}
                            {% if form.root_cause_list.errors %}
                                {% for error in form.root_cause_list.errors %}
                                    <li class="alert alert-danger"> {{error}} </li>
                                {% endfor %}
                            {% endif %}
                        </p>
                        <script>
                            let s = document.getElementById("header").innerHTML;
                            s = s.substring(0,35).concat(s.substring(39,43),s.substring(45,47));
                            document.getElementById("header").innerHTML = s;

                            if (document.getElementById("root_cause").value != "") {
                                document.getElementById("causes").value = document.getElementById("root_cause").value;
                            }

                            const project_date = document.querySelectorAll('select[class="form-dateinput"]');
                            for(const date of project_date){
                                date.addEventListener('change', selectDate);
                                date.setAttribute("required", "");
                            }
                            function selectDate(e) {
                                if (this.value=="") {
                                    this.style.borderColor="#ff0000b2";
                                } else {
                                    this.style.borderColor="#5dfc4eb2";
                                }
                            }
                            document.getElementById("causes").addEventListener('change', selectCause);
                            function selectCause(e) {
                                if (this.value != "") {
                                    document.getElementById("root_cause").value = this.value;
                                }
                            }

                            document.getElementById("id_remark_name").setAttribute("class", "form-readonly");
                            document.getElementById("id_remark_name").setAttribute("readonly", "readonly");
                            document.getElementById("id_rational").setAttribute("class", "form-readonly");
                            document.getElementById("id_rational").setAttribute("readonly", "readonly");
                            document.getElementById("id_designation_name").setAttribute("class", "form-readonly");
                            document.getElementById("id_designation_name").setAttribute("readonly", "readonly");
                            document.getElementById("id_section_name").setAttribute("class", "form-readonly");
                            document.getElementById("id_section_name").setAttribute("readonly", "readonly");
                        </script>
                    </form>
                    <button class="blue-button" onclick="document.forms['boss2'].submit();" >Сохранить изменения</button>
                    <button class="blue-button"><a href="{% url 'home'%}" style="color:white">Вернуться в профиль</a></button>
                </div>
            </div>
        </div>
    </div>
</body>
</html>